.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 100;
}
h1 {
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  font-size: 2rem;
  font-family: var(--font-lexend);
  font-weight: 800;
  color: var(--color-text);
}
h1 span {
  font-size: 2.3rem;
}
h1 span span {
  font-size: 2.3rem;
  color: var(--color-highlight);
}
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-controls {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.pomodoro-counter {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  color: var(--color-text);
  font-size: 1.5rem;
}
.pomodoro-counter svg {
  fill: var(--color-highlight);
  stroke: var(--color-highlight);
}

.icon-button {
  border: none;
  padding: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  backdrop-filter: blur(10px);
  color: var(--color-text);
}
.neu-button {
  background: #e7e6e6;
  box-shadow: 10px 10px 20px #989797, -10px -10px 22px #eeeded;
}
.icon-button:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-medium);
}

.icon-button:focus {
  background: #e9e6e6;
  box-shadow: inset 6px 6px 13px #c8c6c6, inset -6px -6px 13px #faf8f8;
}
