.add-task-section {
  padding: 20px 24px;
  border-bottom: 1px solid var(--shadow-light);
  display: grid;
  grid-template-columns: 1fr 3rem;
  gap: 10px;
}

.task-input {
  flex: 1;
  padding: 19px 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: var(--color-text);
  transition: var(--transition);
}

.task-input:focus {
  outline: none;
}

.add-task-btn {
  color: var(--color-button-text);
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border-radius: var(--border-radius);
  background-color: #f3f2f2;
  box-shadow: 3px 3px 10px #bebebe, -5px -5px 10px #f9f8f8;
}
.add-task-btn:active {
  background: #e9e6e6;
  box-shadow: inset 6px 6px 13px #dad8d8, inset -6px -6px 13px #faf8f8;
}
.add-task-btn:hover:not(:disabled) {
  transform: translateY(-1px);
}

.add-task-btn:disabled {
  color: var(--color-button-text-disabled);
  cursor: not-allowed;
  background: #e7e6e6;
  box-shadow: 1px 1px 2px #989797, -1px -1px 2px #eeeded;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10px 24px;
  max-height: calc(50vh - 100px);
  overflow-y: scroll;
  padding-bottom: 2rem;
}

.current-task-section {
  border-bottom: 1px solid var(--shadow-light);
}

.current-task-section h3 {
  margin: 0 0 12px 0;
  font-size: 1.2rem;
  color: var(--color-text);
  font-weight: 600;
}

.current-task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-accent);
  color: var(--color-button-text);
  padding: 19px;
  border-radius: 8px;
  height: 1rem;
  font-weight: 500;
  background: #edececaa;
}

.remove-current-btn {
  background-color: transparent;
  color: var(--color-button-text);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--transition);
}

.remove-current-btn:hover {
  transform: translateY(-2px);
}

.task-list-section h3 {
  margin: 0 0 12px 0;
  font-size: 1.2rem;
  color: var(--color-text);
  font-weight: 600;
}
.task-list {
  padding-left: 0;
}
.task-item {
  display: grid;
  grid-template-columns: 1rem 2rem 1fr;
  align-items: center;
  gap: 10px;
}
.drag-preview {
  background-color: var(--color-glass);
  display: grid;
  grid-template-columns: 1rem 2rem 1fr;
  align-items: center;
  gap: 10px;
  opacity: 0.5;
  transform: translate(-210px, -5rem);
}
.task-item.edit {
  grid-template-columns: 1rem 1fr;
}

.task-item.completed {
  grid-template-columns: 1rem 1fr 2rem;
  opacity: 0.7;
}

.task-drag-handle {
  color: var(--color-text);
  cursor: grab;
  display: flex;
  align-items: center;
}

.task-drag-handle:active {
  cursor: grabbing;
}

.task-checkbox {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.task-text {
  font-size: 1rem;
  color: var(--color-text);
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 400;
}

.task-text:hover {
  color: var(--color-highlight);
}

.task-text.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-text.current {
  color: var(--color-button-text);
}

.current-indicator {
  opacity: 0.8;
  font-weight: 600;
}

.task-edit {
  display: grid;
  grid-template-columns: 1fr 2rem 2rem;
  gap: 10px;
}
.task-nonedit {
  align-items: center;
  grid-template-columns: 1fr max-content;
  display: grid;

  gap: 10px;
}
.task-edit-input {
  padding: 12px 16px;
  border: 1px solid var(--color-highlight);
  border-radius: 4px;
  background-color: var(--color-modal);
  font-size: 0.8rem;
  color: var(--color-text);
}

.task-edit-input:focus {
  outline: none;
}

.save-edit-btn,
.cancel-edit-btn {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-text);
}
.cancel-edit-btn {
  color: var(--color-highlight);
}

.save-edit-btn:hover,
.cancel-edit-btn:hover {
  transform: translateY(-1px);
}

.task-actions {
  display: flex;
  gap: 8px;
  opacity: 0;
  transition: var(--transition);
}

.task-item:hover .task-actions {
  opacity: 1;
}

.task-action-btn {
  background-color: transparent;
  border: none;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-action-btn.edit {
  color: var(--color-button-text);
}

.task-action-btn.delete {
  color: var(--color-highlight);
}

.completed-section {
  opacity: 0.8;
}

.completed-section h3 {
  font-size: 1.2rem;
  opacity: 0.7;
}

.empty-state p {
  font-style: italic;
}
