:root {
  --color-text: #333333;
  --color-background: linear-gradient(150deg, #ebddf4, #bfeae8);
  --color-accent: #dbbaee;
  --color-button-bg: #bfeae8;
  --color-button-disabled: #a09f9f82;
  --color-button-text: #252525;
  --color-button-text-disabled: #969494f2;
  --color-glass: #ffffff33;
  --color-modal: #fffffff2;
  --clor-alert: #ff0000;
  --color-focus: 0 0 0 1px rgba(236, 172, 239, 0.3);
  --shadow-light: 0 4px 12px #0000001a;
  --shadow-medium: 0 8px 24px #00000026;
  --border-radius: 12px;
  --transition: all 0.3s ease-in-out;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
  position: relative;
  transition: var(--transition);
}

h1,
h2,
h3,
h4,
time {
  font-family: var(--font-outfit);
  font-weight: 800;
}
p {
  font-family: var(--font-lexend);
  font-weight: 800;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--shadow-light);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}
