.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.timer-container {
  display: grid;
  grid-template-rows: 25rem 5rem;
  gap: 10px;
  max-width: 1440px;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 200px);
  padding: 1rem;
  gap: 3rem;
}
.mode-tabs {
  display: flex;
  border-radius: var(--border-radius);
  padding: 10px;
}

.mode-tab {
  background-color: transparent;
  border: none;
  padding: 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-text);
  font-weight: 500;
  min-width: 6rem;
}
.mode-tabs button {
  font-size: 1.1rem;
  font-weight: 800;
  font-family: var(--font-outfit);
}
.mode-tab.active {
  border-radius: var(--border-radius);
  background: #dfdede;
  box-shadow: 18px 18px 22px #989797, -10px -10px 22px #eeeded;
}

.mode-tab:hover:not(.active) {
  color: black;
}
.timer-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring-background {
  stroke-linecap: round;
}

.progress-ring-progress {
  stroke-linecap: round;
  transition: all 1.5s ease-in-out;
}

.timer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.stopwatch-content {
  text-align: center;
  align-items: center;
}
.mode-label {
  font-size: 1.5rem;
  color: var(--color-text);
  font-weight: 800;
  text-transform: uppercase;
}
.mode-label-task {
  font-weight: 400;
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

.timer-display {
  font-size: 5rem;
  font-weight: 600;
  color: var(--color-text);
}

.timer-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.control-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  min-width: 7rem;
  color: var(--color-button-text);
  justify-content: center;
  border-radius: var(--border-radius);
}

.control-button.secondary {
  color: var(--color-text);
  display: flex;
  justify-content: center;
}

.control-button:hover {
  transform: translateY(-2px);
}

.control-button:active {
  transform: translateY(0);
}
